@import "nib"

//Colores
color_red = #E62D2B
color_green = #148E24

.breadcrumb
	display none

body.front
	background url('../images/background.jpg') repeat center center color_green


.cann-general-page-client-register-form
	label
		font-weight normal
		color #5c5c5c
	input
		width 400px
		height 40px
		border-radius 5px
		border 1px solid #ccc
		margin-top 10px
	#edit-submit
		background 
		width 145px
		line-height 1.5em
		color #fff
		border-radius 0px
		border none
		margin-left 250px
		background url('../images/check_register.png') no-repeat 6px 6px color_green






h1
	color color_green

.front
	h1
	.l-header
		display none
	.logo
		background url('../images/logo_home.png') no-repeat center center transparent
		width 614px
		height 297px
		display inline-block
		margin-top 50px
	.user-types
		text-align center
		.type
			display inline-block
			padding 135px 0 0 0
			margin 15px 150px
			background url('../images/icon_home1.png') no-repeat top center transparent
			a
				display inline-block
				color #fff
				background color_red
				text-decoration none
				line-height 2.5em
				padding 0 20px
				border-radius 5px
				margin 10px
				&:hover
					background color_green


.navigation_text
	background color_red
	color #fff
	height 75px
	max-height 
	.navigation
		font-size: 1.3em;
		line-height: 3.5em;
		margin: 0 auto;
		max-width: 1190px;
		text-transform: uppercase;

.register-info
	float right
	border-radius 5px
	border 1px solid color_red
	padding 20px

.site-client
	.user-type.top
		display inline-block
		width 160px
		height 35px
		margin-top 25px
	.navigation_text
		background color_redx
	.m-menu
		li
			text-transform uppercase
			padding 0 10px
			margin 25px 0
			border-left 1px solid #ccc
			&.last
				border-right 1px solid #ccc

		

.site-distributor
	.navigation_text
		background color_green













