@import "nib"

//Colores
color_red = #e62c2a
// color_green = #148E24
color_green = #528d32

color_main_menu = #515151
color_home_title =  color_red
color_description = #888888 // texto debajo
color_title_green = #518c30
color_footer = #fff
color_footer_link = #afafaf
color_footer_background = #4E4E4E

color_verde_oscuro_menu = #528D33
color_verde_clar_menu = #8FB007
color_titulo_verde_claro = #528d32

color_borde_caja_prodcuto = #f7bfbf 
//tamanos
size_base = 14px // 16px
size_main_menu = 1.05em
size_home_title = 3.7em
size_description = 1.6em  // 26px 20pt
size_title_green = 1.6em
size_title_down = 1.4em   // 22px 16pt
size_footer_title = 1.5em // 24px 18pt
size_footer_link = 1.2em  // 19px 14pt
//Titulos verdes: 20pt  #518c30
//Texto debajo: 16pt  #888888
//footer
//Titulos: 18pt  #FFFFFF
//Links: 14pt  #afafaf

width_total = 960px


//fonts 
@font-face {
	font-family: liberation;
	src:url('fonts/liberation.ttf');
}

// @font-face {
// 	font-family: fuentechato;
// 	src:url('fonts/helveticachato.ttf');
// }
// @font-face {
// 	font-family: 'fuente47largo';
// 	src:url(fonts/helr47w.ttf);
// }
// @font-face {
// 	font-family: 'fuente48italica';
// 	src:url(fonts/helr48w.ttf);
// }
// @font-face {
// 	font-family: fuente65boldchato;
// 	src:url(fonts/helr65w.ttf);
// }
// @font-face {
// 	font-family: 'fuente66bolditalica';
// 	src:url(fonts/helr66w.ttf);
// }
// @font-face {
// 	font-family: 'fuente67boldlargo';
// 	src:url(fonts/helr67w.ttf);
// }
// @font-face {
// 	font-family: 'fuente68boldlargoitalica';
// 	src:url(fonts/helr68w.ttf);
// }
// @font-face {
// 	font-family: 'fuente-largo-small';
// 	src:url(fonts/HELVETI3.TTF);
// }


.breadcrumb
	display none


.block-home
	&.column
		width 250px
		display inline-block
		text-align left
		margin-right 50px
		vertical-align top
		line-height 1.5em
	.block__title
		color color_green
		font-size:  20px
		font-weight: normal
		text-transform uppercase
	&.products
		margin-top 50px
		h2
			text-align left
		.views-row
			display inline-block
			height 230px
			border 1px solid  #f7bfbf
			margin-right: 40px;
			vertical-align: top;
			width: 202px;
			&.views-row-last
				margin-right 0
			.views-field-title
				a
					color color_title_green
					text-transform uppercase
					text-decoration none 
					font-weight  normal
			.views-field-field-thc-level
			.views-field-field-cbd-level
				span
				div
					display inline-block
			.views-field-view-node
				a
					padding 10px
					display inline-block
					background color_green
					text-transform uppercase
					color #fff
					text-decoration none
					margin 10px
					font-size: 0.8em
					padding 7px 12px


.flexslider
	box-shadow none
	&:after
		content ""
		position absolute
		width 100%
		height 20px
		background url("../images/sombra-slider.png") no-repeat center center transparent
	.flex-control-nav
		bottom 15px
		z-index 9999
		li
			a
				background #fff
				border 1px solid #000
			.flex-active
				background color_green


.footer-wrap
	.block-footer
		&.panel
		&.support
			color #b5b5b5
			p
				margin-top 10px
			.call
				font-size: 1.5em;
				padding 8px 0
			.mail
				a
					text-decoration none
					color #b5b5b5 !important
			.link
				text-transform uppercase
				border-radius 5px
				border 1px solid #b5b5b5
				display inline-block
				padding 5px 20px
				font-family: sans-serif;
				margin 15px 0
				font-size: 1.3em;
			.menu
				padding 0 0 0 10px
				margin 0
		&.menu
			.menu
				a
					border-bottom: 1px dotted #cccccc;
					color: #b5b5b5 !important;
					display: block;
					font-size: 14px;
					padding: 5px 15px;
					text-decoration: none;
					text-transform: none;
		&.logo
			height 100%
			p
				margin-top 20px !important
		


body
	font-size: size_base 
	font-family: 'liberation'
	color color_description
	&.front
		background url('../images/background.jpg') repeat center center color_green
		

.cann-general-page-distributor-register-form
.cann-general-page-client-register-form
	label
		font-weight normal
		color #555
	input
		width 400px
		height 40px
		border-radius 5px
		border 1px solid #ccc
		margin-top 10px
	#edit-submit 
		width 145px
		line-height 1.5em
		color #fff
		border-radius 0px
		border none
		margin 10px auto
		position: relative;
		left: 23%;
		background url('../images/check_register.png') no-repeat 10px center color_green


.cann-general-page-distributor-register-form
	width 90%
	text-align center
	.form-item
		width auto
		text-align left
		input
			border 1px solid  #f29594
	#edit-submit
		background-color color_red
	label
		color  #8e8e8e
		font-size: 12px
		&:after
			content:"(*)"
			color color_red
	span
		&.form-required
			display none
	.form-item.form-type-textfield.form-item-mail
		input
			margin-top 5px
		


.checkout-top
	
	background url(../images/icons-shoppingcart.png) no-repeat 75% center transparent
	padding 10px 40px 10px 50px
	.nitems
		color color_red
	.link
		a
			color color_green
			text-decoration none

.buy.sidebar
	background url(../images/ico-shopping.png) no-repeat 40px center #F1F1F1
	width 255px
	color #111
	padding 30px 40px 25px 100px
	margin-top 35px
	margin-bottom 23px
	.nitems
	.link
		text-align right
		a
			color #111
			text-decoration none
			border 1px solid #ccc
			background  #a8a8a8
			margin-top 5px
			display inline-block
			padding 3px 5px



.description_page 
	margin: 0 auto;
	width: 960px;

.faq-question-answer
	.faq-question
		a
			text-decoration none
			list-style-type disc
			display inline-block
			text-transform capitalize
			color #111
			background #F5F5F5
			padding 0 15px
			line-height 2em
			border 1px solid #ccc
			width 100%
			border-radius 5px 5px 0px 0px
			&:hover
				text-decoration underline
	.faq-answer
		padding-left 20px
		.field--name-body
			padding 15px
			border 1px solid #ccc
			border-top none
			border-radius 0 0 5px 5px
		p
			margin 0 



.field--name-compra
	.remove
	.go-checkout	
	.libre
		a
			display inline-block
			background color_red
			color #fff
			padding 8px 10px
			text-decoration none
	.go-checkout
		a
			background color_green
			vertical-align: bottom
			padding 11px
	.continue
		a
			float right
			color color_red
			text-transform uppercase
			padding-top 15px


.footer_pre
	background color_red
	padding 30px 0 25px 0
	overflow hidden
	.l-region
		width width_total
		margin 0 auto
		color #fff
		p
			margin 0
		a
			background color_green
			float right
			text-transform uppercase
			padding 8px 20px 8px 50px
			color #fff
			text-decoration none
			background url('../images/icon_register.png') no-repeat 17px center color_green


#edit-field-max-gram-per-month
	display none

.not-front
	.footer-wrap
		background color_footer_background
		.block__title
			text-transform uppercase
			font-weight: normal
			padding 10px 30px
			border-bottom 1px solid #ccc
			margin-bottom 0
			color #fff

		.l-footer
			padding-bottom 25px
			margin-bottom 0
			.block
				display inline-block
				vertical-align top
				width 172px
				margin 0 30px
				li
					list-style none
				a
					color #fff
				p
					margin 0
		#block-superfish-1--2
			li
				display block
				border none
				width 100%
				margin 0
				padding 0
				&#menu-443-1
				&#menu-390-1
					display none
				a
					border-bottom 1px dotted #ccc
					padding 5px 15px
					color #b5b5b5
					font-size: 14px
					text-transform none




.forgot-pass
	float right
	a
		color color_red

.front
	h1
	.l-header
		display none
	.logo
		background url('../images/logo_home.png') no-repeat center center transparent
		width 614px
		height 297px
		display inline-block
		margin-top 50px
	.user_type
		font-size 1.4em
		color #000
	.user-types
		text-align center
		.type
			display inline-block
			padding 135px 0 0 0
			margin 15px 120px
			background url('../images/icon_home1.png') no-repeat top center transparent
			a
				display inline-block
				color #fff
				background color_red
				text-decoration none
				line-height 1.8em
				padding 0 20px
				border-radius 5px
				margin 10px
				font-size: 1em
				&:hover
					background color_green
			&.last
				background-image url('../images/icon_home2.png')


.go-to-my-panel
	background #DFDFDF
	padding: 20px 30px;
	width: 255px;
	cursor pointer
	.l-left
		display inline-block
	.l-right
		color: #000000;
		display: inline-block;
		float: right;
		font-weight: bold;
		padding-left: 20px;
		width: 60%;



h1
	color #528d32


//escondemos el titulo del bloque menu principal del header
.l-header
	h2
		display none
	ul#superfish-2
		margin-bottom 0
		li:hover 
		li.sfHover
			ul
				top 2em
	.panel-manager
		display inline-block
		width auto
		margin-bottom 0
		#menu-458-2
		#menu-458-2:hover
			background color_verde_oscuro_menu
			text-transform uppercase
			a
			a:hover
				color #fff
				text-decoration none
				background color_verde_oscuro_menu
				padding 5px
		li
			li
				a
					background color_verde_clar_menu !important
					padding 5px
					text-transform none


.l-main
	.l-region--sidebar-first
		.block__title
			display none
		.panel
			ul.menu
				margin 0
			li.first.last
				> a
					display block
					background color_verde_oscuro_menu
					color #fff
					text-decoration none 
					text-transform uppercase
					padding 5px 5px
					font-style: normal
				ul
					padding 0 
					margin 0
					li
						list-style none
						a
							display block
							color color_green
							text-decoration none
							border-bottom 1px dotted color_green
							padding 5px 15px
							&:hover
							&.active-trail
								background #DCE1CA


//borde rojo superior
.l-page 
	border-top 1px solid color_red


.link-register
	color color_red
	font-weight: normal
	text-decoration none


.long-info
	float left
	width 500px
	font-size: 1.2em
	#header-text
		color color_title_green
		font-size: 1.3rem
		margin-top 30px
	.title-text
		color color_red
		.num
			border-radius 50%
			display inline-block
			padding 5px 10px
			color #fff
			background color_red
		p
			display inline-block
	.description
		padding-left 40px
		ul
			padding-left 20px


.cann-general-page-client-register-form
	float right
	.form-submit
		float right
		position static !important

	//bloque de informacion de registro de usuarios
.register-info
	float right
	border-radius 5px
	border 1px solid color_red
	padding 20px
	clear both



//menu principal
.m-menu
	li
		font-size: 13px
		text-transform uppercase
		padding 0 10px
		margin 25px 0
		border-left 1px solid #ccc
		&.last
			border-right 1px solid #ccc
		a
			color color_main_menu
			text-decoration none
			&:hover
				color color_red
			&.active
				color color_green


#menu-390-1
	a
		color color_red

.min-text
	color #dce911
	font-size: 12px;
	text-transform none

//liston de color rojo o verde
.navigation_text
	background color_red
	color #fff
	height 75px
	margin-bottom 5px
	.l-region--navigation-text
		height 100%
	.navigation
		font-size: 1.3em
		margin: 0 auto;
		max-width: width_total;
		text-transform: uppercase;
		position relative
		top 50%
		transform translateY(-50%)
		.sub-text
			padding-left: 20px;
			font-size: 14px
			margin-top 7px
			text-transform: none;
			background url("../images/check_register.png") no-repeat left center  / 15px transparent

.node--product
	&.view-mode-full
		margin-top 40px
		.field
			margin-left 465px
			
		.field--name-field-image
			float left
			margin-right 25px
			margin-left 0
		.field--name-title
			color color_red
			text-transform capitalize
		.field--name-field-thc-level
		.field--name-field-cbd-level
		.field--name-field-taste
			.field__label
			.field__items
				display inline-block
		.field--name-field-licenced
			margin 25px 0
		.field--name-field-conditions
				margin-bottom 25px
			.field__label
				font-weight: bold
		.field--name-field-price
			.field__item
				color color_green
				font-weight: bold
				font-size 2em
				margin 10px 0
				&:before
					content "$"
					display inline-block




//esconde el titulo por defecto
.node-type-page
.node-type-product
	h1
		display none


.not-front
	.l-main
		margin-bottom 70px
	.tabs--primary
		display none


.page-distributor-register
	h1
		color color_titulo_verde_claro
		font-size: 24px
.page-user
	h1
		font-size 24px

.product-filter
	.block__title
		color color_red
		text-transform uppercase
		font-size: 13px
		font-weight: normal
	.views-exposed-widget
		width 268px
		#edit-field-conditions-tid
		#edit-uid
		#edit-combine
			width 100%
			border 1px solid #d2d2d2
			padding 10px
			border-radius 7px
		#edit-submit-products
			background color_green
			color #fff
			text-transform uppercase
			padding 8px 20px
			float right
			border none
			font-size: 11px
		.description
			display none


.page-products
	h1
		display none
	.views-row
		clear both
		border 1px solid color_borde_caja_prodcuto
		overflow hidden
		margin-bottom 25px
		background #EDF2EB
		position relative
		width 680px 
		.views-field-field-image
			float left
			margin-right 15px
			padding 4px
		.views-field-title
			display block
			a
				color color_title_green
				display inline-block
				text-transform capitalize
				margin 20px 0 10px 0px
				text-decoration none
				font-size: 1.2em
		.views-field-field-thc-level
		.views-field-field-cbd-level
		.views-field-field-taste
			display inline-block
			min-width 95px
			.views-label
				font-weight bold
		.views-field-view-node
			display block
			text-align right
			bottom 0px
			right 0px
			position absolute
			a
				color #fff
				background color_red
				text-transform uppercase
				display inline-block
				padding 8px
				text-decoration none
				font-size: 11px



.page-panel-products
	.form-text
		width 100%
		border 1px solid color_red
		padding 10px 
		border-radius 5px
	.field-name-field-conditions
		margin 20px 0
	.field-name-field-cbd-level
	.field-name-field-thc-level
	.field-name-field-taste
	.field-name-field-price
		width 33%
		display inline-block
		padding-right 20px
	.field-name-field-taste
		padding-right 0
	.field-name-field-image
		display inline-block
		width auto
	.form-actions
		#edit-preview
			display none
		input
			background url('../images/icon_save.png') no-repeat  10px center color_red
			color #fff
			padding 8px 30px 8px 40px
			border none
			margin 10px


.products
	&.in-fullpage
		h2
			background color_red
			color #fff
			text-transform none
			font-weight: normal
			padding 5px 30px
		.views-row
			text-align center
			height 185px



.section-panel
	h1
		color color_red
		list-style circle
		display list-item
		font-size: 1.5em
		margin-left 20px
		list-style-type: disc;
	.actions-link
		a
			display inline-block
			line-height 3em
			background color_red
			margin-bottom 30px
			border 1px solid #ccc
			text-decoration none
			padding 0 20px 0 30px
			background url('../images/icon_eliminar.png') no-repeat 10px center color_red
			&.delete
				background-color transparent
				border-radius 5px 0 0 5px
				color #111
			&.add
				background-image url("../images/icon_new.png")
				border-radius 0px 5px 5px 0px
				color #fff
	table
		width 100%
		tr
			background transparent
			border-bottom 1px solid #ccc
		th
		td
			padding 10px
			background transparent
		th
			background #EDF2EB
			color #111
			font-weight: normal
		.action-link
			padding 5px 5px 5px 5px
			display inline-block
			border 1px solid #ccc
			border-radius 3px
			text-decoration none
			color #111
			&:hover
				background #dce1ca
			
				
				

.sidebar-active
	.l-main
		position relative
	.l-region--sidebar-first
		position absolute
		height 100%
		box-shadow 9px 1px 9px #ccc
	.l-content
		padding-left 40px
		min-height 300px

	


.site-client
	.navigation_text
		background color_red

.site-distributor
	&.sub-home
		h1
			color color_red
	.navigation_text
		background #528d32
	.block-home.products 
		.views-row 
			.views-field-view-node 
				a
					background color_red
	.user-login 
		#edit-submit
			background-color color_red





.sub-home
	h1
		color color_title_green
		font-size: 48px
		text-align center
		margin-bottom 10px
		font-weight: normal
	.l-content
		text-align center


#block-superfish-1
	width 100%
	float right
.l-region--header
	text-align right


.t-checkout
	width 100%
	tr
		border-bottom 1px solid #999
		&.total
			border-bottom none
	th
		background transparent
		color #000
	.descript
		color #999999
		.producer
			color color_green
	.grams
		input
			width 50px
	.sub-total
	.total
		font-weight: bold
		color #000
	.check-remove
		background url("../images/icon_eliminar.png") no-repeat 0 0 transparent
		width 13px
		height 15px
		display inline-block
		text-indent: -99999px;

.btn_checkout
	background url("../images/check_register.png") no-repeat 12px 50% color_red
	border none
	color #fff
	padding 10px 20px 10px 43px
	text-transform uppercase
	float right
	margin 50px


.text-green
	color color_green
	text-decoration none
.text-red
	color color_red
	text-decoration none



.user-login
	.form-text
		padding 10px 
		border 1px solid #f29594
		border-radius 5px
		width 300px
	.form-item
		display inline-block
		width 100%
		label
			font-weight: normal
	#edit-submit
		background url('../images/icon_login.png') no-repeat 15px center color_green
		padding 5px 20px 5px 40px
		border none
		color #fff
	.description
		display none
	> div
		width 300px
		margin 0 auto
		
		

	
.user_name
	clear both
	text-transform uppercase
	display inline-block
	line-height 1.8em
	vertical-align top
	.label
		color color_red
	.name
		color color_green
		padding 0px 10px
		display inline-block


.user-type.top
	span
		display inline-block
		width 230px
		height 35px
		margin-top 25px
		color color_title_green
		padding-left 35px
		&.distributor
			background url('../images/ico-distribuidor.png') no-repeat left center transparent	
		&.client
			background url('../images/ico-usuario.png') no-repeat left center transparent	
			
		a
			color color_red

.welcome-text
	text-align center
	font-size: 18px
	a
		padding 9px 26px 5px
		display inline-block
		background color_red
		text-transform uppercase
		color #fff
		text-decoration none
		font-family helvetica
		font-weight: 200;
		font-size: 0.8em;













