@font-face {
  font-family: liberation;
  src: url("fonts/liberation.ttf");
}
.breadcrumb {
  display: none;
}
.block-home.column {
  width: 250px;
  display: inline-block;
  text-align: left;
  margin-right: 50px;
  vertical-align: top;
  line-height: 1.5em;
}
.block-home .block__title {
  color: #528d32;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
}
.block-home.products h2 {
  text-align: left;
}
.block-home.products .views-row {
  display: inline-block;
  height: 230px;
  border: 1px solid #f7bfbf;
  margin-right: 40px;
  vertical-align: top;
  width: 202px;
}
.block-home.products .views-row.views-row-last {
  margin-right: 0;
}
.block-home.products .views-row .views-field-title a {
  color: #518c30;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
}
.block-home.products .views-row .views-field-field-thc-level span,
.block-home.products .views-row .views-field-field-cbd-level span,
.block-home.products .views-row .views-field-field-thc-level div,
.block-home.products .views-row .views-field-field-cbd-level div {
  display: inline-block;
}
.block-home.products .views-row .views-field-view-node a {
  padding: 10px;
  display: inline-block;
  background: #528d32;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  margin: 10px;
  font-size: 0.8em;
  padding: 7px 12px;
}
.flexslider {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.flexslider:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  background: url("../images/sombra-slider.png") no-repeat center center transparent;
}
.flexslider .flex-control-nav {
  bottom: 15px;
  z-index: 9999;
}
.flexslider .flex-control-nav li a {
  background: #fff;
  border: 1px solid #000;
}
.flexslider .flex-control-nav li .flex-active {
  background: #528d32;
}
.footer-wrap .block-footer.panel .menu,
.footer-wrap .block-footer.support .menu {
  padding: 0 0 0 10px;
  margin: 0;
}
.footer-wrap .block-footer.panel a,
.footer-wrap .block-footer.support a {
  border-bottom: 1px dotted #ccc;
  padding: 5px 15px;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #b5b5b5 !important;
}
.footer-wrap .block-footer.logo {
  height: 100%;
}
.footer-wrap .block-footer.logo p {
  margin-top: 20px !important;
}
body {
  font-size: 14px;
  font-family: 'liberation';
  color: #888;
}
body.front {
  background: url("../images/background.jpg") repeat center center #528d32;
}
.cann-general-page-distributor-register-form label,
.cann-general-page-client-register-form label {
  font-weight: normal;
  color: #555;
}
.cann-general-page-distributor-register-form input,
.cann-general-page-client-register-form input {
  width: 400px;
  height: 40px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}
.cann-general-page-distributor-register-form #edit-submit,
.cann-general-page-client-register-form #edit-submit {
  width: 145px;
  line-height: 1.5em;
  color: #fff;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: none;
  margin: 10px auto;
  position: relative;
  left: 23%;
  background: url("../images/check_register.png") no-repeat 10px center #528d32;
}
.cann-general-page-distributor-register-form {
  width: 90%;
  text-align: center;
}
.cann-general-page-distributor-register-form .form-item {
  width: auto;
  text-align: left;
}
.cann-general-page-distributor-register-form .form-item input {
  border: 1px solid #f29594;
}
.cann-general-page-distributor-register-form #edit-submit {
  background-color: #e62c2a;
}
.cann-general-page-distributor-register-form label {
  color: #8e8e8e;
  font-size: 12px;
}
.cann-general-page-distributor-register-form label:after {
  content: "(*)";
  color: #e62c2a;
}
.cann-general-page-distributor-register-form span.form-required {
  display: none;
}
.cann-general-page-distributor-register-form .form-item.form-type-textfield.form-item-mail input {
  margin-top: 5px;
}
.checkout-top {
  background: url("../images/icons-shoppingcart.png") no-repeat 75% center transparent;
  padding: 10px 40px 10px 50px;
}
.checkout-top .nitems {
  color: #e62c2a;
}
.checkout-top .link a {
  color: #528d32;
  text-decoration: none;
}
.buy.sidebar {
  background: url("../images/ico-shopping.png") no-repeat 40px center #f1f1f1;
  width: 255px;
  color: #111;
  padding: 30px 40px 25px 100px;
  margin-top: 35px;
  margin-bottom: 23px;
}
.buy.sidebar .nitems,
.buy.sidebar .link {
  text-align: right;
}
.buy.sidebar .nitems a,
.buy.sidebar .link a {
  color: #111;
  text-decoration: none;
  border: 1px solid #ccc;
  background: #a8a8a8;
  margin-top: 5px;
  display: inline-block;
  padding: 3px 5px;
}
.description_page {
  margin: 0 auto;
  width: 960px;
}
.faq-question-answer .faq-question a {
  text-decoration: none;
  list-style-type: disc;
  display: inline-block;
  text-transform: capitalize;
  color: #111;
  background: #f5f5f5;
  padding: 0 15px;
  line-height: 2em;
  border: 1px solid #ccc;
  width: 100%;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}
.faq-question-answer .faq-question a:hover {
  text-decoration: underline;
}
.faq-question-answer .faq-answer {
  padding-left: 20px;
}
.faq-question-answer .faq-answer .field--name-body {
  padding: 15px;
  border: 1px solid #ccc;
  border-top: none;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.faq-question-answer .faq-answer p {
  margin: 0;
}
.field--name-compra .remove a,
.field--name-compra .go-checkout a,
.field--name-compra .libre a {
  display: inline-block;
  background: #e62c2a;
  color: #fff;
  padding: 8px 10px;
  text-decoration: none;
}
.field--name-compra .go-checkout a {
  background: #528d32;
  vertical-align: bottom;
  padding: 11px;
}
.field--name-compra .continue a {
  float: right;
  color: #e62c2a;
  text-transform: uppercase;
  padding-top: 15px;
}
.footer_pre {
  background: #e62c2a;
  padding: 30px 0 25px 0;
  overflow: hidden;
}
.footer_pre .l-region {
  width: 960px;
  margin: 0 auto;
  color: #fff;
}
.footer_pre .l-region p {
  margin: 0;
}
.footer_pre .l-region a {
  background: #528d32;
  float: right;
  text-transform: uppercase;
  padding: 8px 20px 8px 50px;
  color: #fff;
  text-decoration: none;
  background: url("../images/icon_register.png") no-repeat 17px center #528d32;
}
#edit-field-max-gram-per-month {
  display: none;
}
.not-front .footer-wrap {
  background: #4e4e4e;
}
.not-front .footer-wrap .block__title {
  text-transform: uppercase;
  font-weight: normal;
  padding: 10px 30px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
  color: #fff;
}
.not-front .footer-wrap .l-footer {
  padding-bottom: 25px;
  margin-bottom: 0;
}
.not-front .footer-wrap .l-footer .block {
  display: inline-block;
  vertical-align: top;
  width: 172px;
  margin: 0 30px;
}
.not-front .footer-wrap .l-footer .block a {
  color: #fff;
}
.not-front .footer-wrap .l-footer .block p {
  margin: 0;
}
.not-front .footer-wrap #block-superfish-1--2 li {
  display: block;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.not-front .footer-wrap #block-superfish-1--2 li a {
  border-bottom: 1px dotted #ccc;
  padding: 5px 15px;
  color: #b5b5b5;
  font-size: 14px;
  text-transform: none;
}
.forgot-pass {
  float: right;
}
.forgot-pass a {
  color: #e62c2a;
}
.front h1,
.front .l-header {
  display: none;
}
.front .logo {
  background: url("../images/logo_home.png") no-repeat center center transparent;
  width: 614px;
  height: 297px;
  display: inline-block;
  margin-top: 50px;
}
.front .user_type {
  font-size: 1.4em;
  color: #000;
}
.front .user-types {
  text-align: center;
}
.front .user-types .type {
  display: inline-block;
  padding: 135px 0 0 0;
  margin: 15px 120px;
  background: url("../images/icon_home1.png") no-repeat top center transparent;
}
.front .user-types .type a {
  display: inline-block;
  color: #fff;
  background: #e62c2a;
  text-decoration: none;
  line-height: 1.8em;
  padding: 0 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px;
  font-size: 1em;
}
.front .user-types .type a:hover {
  background: #528d32;
}
.front .user-types .type.last {
  background-image: url("../images/icon_home2.png");
}
.go-to-my-panel {
  background: #dfdfdf;
  padding: 20px 30px;
  width: 255px;
  cursor: pointer;
}
.go-to-my-panel .l-left {
  display: inline-block;
}
.go-to-my-panel .l-right {
  color: #000;
  display: inline-block;
  float: right;
  font-weight: bold;
  padding-left: 20px;
  width: 60%;
}
h1 {
  color: #528d32;
}
.l-header h2 {
  display: none;
}
.l-header ul#superfish-2 {
  margin-bottom: 0;
}
.l-header ul#superfish-2 li:hover ul,
.l-header ul#superfish-2 li.sfHover ul {
  top: 2em;
}
.l-header .panel-manager {
  display: inline-block;
  width: auto;
  margin-bottom: 0;
}
.l-header .panel-manager #menu-458-2,
.l-header .panel-manager #menu-458-2:hover {
  background: #528d33;
  text-transform: uppercase;
}
.l-header .panel-manager #menu-458-2 a,
.l-header .panel-manager #menu-458-2:hover a,
.l-header .panel-manager #menu-458-2 a:hover,
.l-header .panel-manager #menu-458-2:hover a:hover {
  color: #fff;
  text-decoration: none;
  background: #528d33;
  padding: 5px;
}
.l-header .panel-manager li li a {
  background: #8fb007 !important;
  padding: 5px;
  text-transform: none;
}
.l-main .l-region--sidebar-first .block__title {
  display: none;
}
.l-main .l-region--sidebar-first .panel ul.menu {
  margin: 0;
}
.l-main .l-region--sidebar-first .panel li.first.last > a {
  display: block;
  background: #528d33;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 5px;
  font-style: normal;
}
.l-main .l-region--sidebar-first .panel li.first.last ul {
  padding: 0;
  margin: 0;
}
.l-main .l-region--sidebar-first .panel li.first.last ul li {
  list-style: none;
}
.l-main .l-region--sidebar-first .panel li.first.last ul li a {
  display: block;
  color: #528d32;
  text-decoration: none;
  border-bottom: 1px dotted #528d32;
  padding: 5px 15px;
}
.l-main .l-region--sidebar-first .panel li.first.last ul li a:hover,
.l-main .l-region--sidebar-first .panel li.first.last ul li a.active-trail {
  background: #dce1ca;
}
.l-page {
  border-top: 1px solid #e62c2a;
}
.link-register {
  color: #e62c2a;
  font-weight: normal;
  text-decoration: none;
}
.long-info {
  float: left;
  width: 500px;
  font-size: 1.2em;
}
.long-info #header-text {
  color: #518c30;
  font-size: 1.3rem;
  margin-top: 30px;
}
.long-info .title-text {
  color: #e62c2a;
}
.long-info .title-text .num {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  background: #e62c2a;
}
.long-info .title-text p {
  display: inline-block;
}
.long-info .description {
  padding-left: 40px;
}
.long-info .description ul {
  padding-left: 20px;
}
.cann-general-page-client-register-form {
  float: right;
}
.cann-general-page-client-register-form .form-submit {
  float: right;
  position: static !important;
}
.register-info {
  float: right;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e62c2a;
  padding: 20px;
  clear: both;
}
.m-menu li {
  font-size: 13px;
  text-transform: uppercase;
  padding: 0 10px;
  margin: 25px 0;
  border-left: 1px solid #ccc;
}
.m-menu li.last {
  border-right: 1px solid #ccc;
}
.m-menu li a {
  color: #515151;
  text-decoration: none;
}
.m-menu li a:hover {
  color: #e62c2a;
}
.m-menu li a.active {
  color: #528d32;
}
#menu-390-1 a {
  color: #e62c2a;
}
.min-text {
  color: #dce911;
  font-size: 12px;
  text-transform: none;
}
.navigation_text {
  background: #e62c2a;
  color: #fff;
  height: 75px;
  margin-bottom: 5px;
}
.navigation_text .l-region--navigation-text {
  height: 100%;
}
.navigation_text .navigation {
  font-size: 1.3em;
  margin: 0 auto;
  max-width: 960px;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.navigation_text .navigation .sub-text {
  padding-left: 20px;
  font-size: 14px;
  margin-top: 7px;
  text-transform: none;
  background: url("../images/check_register.png") no-repeat left center/15px transparent;
}
.node--product.view-mode-full {
  margin-top: 40px;
}
.node--product.view-mode-full .field {
  margin-left: 465px;
}
.node--product.view-mode-full .field--name-field-image {
  float: left;
  margin-right: 25px;
  margin-left: 0;
}
.node--product.view-mode-full .field--name-title {
  color: #e62c2a;
  text-transform: capitalize;
}
.node--product.view-mode-full .field--name-field-thc-level .field__label,
.node--product.view-mode-full .field--name-field-cbd-level .field__label,
.node--product.view-mode-full .field--name-field-taste .field__label,
.node--product.view-mode-full .field--name-field-thc-level .field__items,
.node--product.view-mode-full .field--name-field-cbd-level .field__items,
.node--product.view-mode-full .field--name-field-taste .field__items {
  display: inline-block;
}
.node--product.view-mode-full .field--name-field-licenced {
  margin: 25px 0;
}
.node--product.view-mode-full .field--name-field-conditions {
  margin-bottom: 25px;
}
.node--product.view-mode-full .field__label {
  font-weight: bold;
}
.node--product.view-mode-full .field--name-field-price .field__item {
  color: #528d32;
  font-weight: bold;
  font-size: 2em;
  margin: 10px 0;
}
.node--product.view-mode-full .field--name-field-price .field__item:before {
  content: "$";
  display: inline-block;
}
.node-type-page h1,
.node-type-product h1 {
  display: none;
}
.not-front .l-main {
  margin-bottom: 100px;
}
.not-front .tabs--primary {
  display: none;
}
.page-distributor-register h1 {
  color: #528d32;
  font-size: 24px;
}
.page-user h1 {
  font-size: 24px;
}
.product-filter .block__title {
  color: #e62c2a;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
}
.product-filter .views-exposed-widget {
  width: 268px;
}
.product-filter .views-exposed-widget #edit-field-conditions-tid,
.product-filter .views-exposed-widget #edit-uid,
.product-filter .views-exposed-widget #edit-combine {
  width: 100%;
  border: 1px solid #d2d2d2;
  padding: 10px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.product-filter .views-exposed-widget #edit-submit-products {
  background: #528d32;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 20px;
  float: right;
  border: none;
  font-size: 11px;
}
.product-filter .views-exposed-widget .description {
  display: none;
}
.page-products h1 {
  display: none;
}
.page-products .views-row {
  clear: both;
  border: 1px solid #f7bfbf;
  overflow: hidden;
  margin-bottom: 25px;
  background: #edf2eb;
  position: relative;
  width: 680px;
}
.page-products .views-row .views-field-field-image {
  float: left;
  margin-right: 15px;
  padding: 4px;
}
.page-products .views-row .views-field-title {
  display: block;
}
.page-products .views-row .views-field-title a {
  color: #518c30;
  display: inline-block;
  text-transform: capitalize;
  margin: 20px 0 10px 0px;
  text-decoration: none;
  font-size: 1.2em;
}
.page-products .views-row .views-field-field-thc-level,
.page-products .views-row .views-field-field-cbd-level,
.page-products .views-row .views-field-field-taste {
  display: inline-block;
  min-width: 95px;
}
.page-products .views-row .views-field-field-thc-level .views-label,
.page-products .views-row .views-field-field-cbd-level .views-label,
.page-products .views-row .views-field-field-taste .views-label {
  font-weight: bold;
}
.page-products .views-row .views-field-view-node {
  display: block;
  text-align: right;
  bottom: 0px;
  right: 0px;
  position: absolute;
}
.page-products .views-row .views-field-view-node a {
  color: #fff;
  background: #e62c2a;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px;
  text-decoration: none;
  font-size: 11px;
}
.page-panel-products .form-text {
  width: 100%;
  border: 1px solid #e62c2a;
  padding: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.page-panel-products .field-name-field-conditions {
  margin: 20px 0;
}
.page-panel-products .field-name-field-cbd-level,
.page-panel-products .field-name-field-thc-level,
.page-panel-products .field-name-field-taste,
.page-panel-products .field-name-field-price {
  width: 33%;
  display: inline-block;
  padding-right: 20px;
}
.page-panel-products .field-name-field-taste {
  padding-right: 0;
}
.page-panel-products .field-name-field-image {
  display: inline-block;
  width: auto;
}
.page-panel-products .form-actions #edit-preview {
  display: none;
}
.page-panel-products .form-actions input {
  background: url("../images/icon_save.png") no-repeat 10px center #e62c2a;
  color: #fff;
  padding: 8px 30px 8px 40px;
  border: none;
  margin: 10px;
}
.products.in-fullpage h2 {
  background: #e62c2a;
  color: #fff;
  text-transform: none;
  font-weight: normal;
  padding: 5px 30px;
}
.products.in-fullpage .views-row {
  text-align: center;
  height: 185px;
}
.section-panel h1 {
  color: #e62c2a;
  list-style: circle;
  display: list-item;
  font-size: 1.5em;
  margin-left: 20px;
  list-style-type: disc;
}
.section-panel .actions-link a {
  display: inline-block;
  line-height: 3em;
  background: #e62c2a;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  text-decoration: none;
  padding: 0 20px 0 30px;
  background: url("../images/icon_eliminar.png") no-repeat 10px center #e62c2a;
}
.section-panel .actions-link a.delete {
  background-color: transparent;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  color: #111;
}
.section-panel .actions-link a.add {
  background-image: url("../images/icon_new.png");
  -webkit-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
}
.section-panel table {
  width: 100%;
}
.section-panel table tr {
  background: transparent;
  border-bottom: 1px solid #ccc;
}
.section-panel table th,
.section-panel table td {
  padding: 10px;
  background: transparent;
}
.section-panel table th {
  background: #edf2eb;
  color: #111;
  font-weight: normal;
}
.section-panel table .action-link {
  padding: 5px 5px 5px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  color: #111;
}
.section-panel table .action-link:hover {
  background: #dce1ca;
}
.sidebar-active .l-main {
  position: relative;
}
.sidebar-active .l-region--sidebar-first {
  position: absolute;
  height: 100%;
  -webkit-box-shadow: 9px 1px 9px #ccc;
  box-shadow: 9px 1px 9px #ccc;
}
.sidebar-active .l-content {
  padding-left: 40px;
  min-height: 300px;
}
.site-client .navigation_text {
  background: #e62c2a;
}
.site-distributor.sub-home h1 {
  color: #e62c2a;
}
.site-distributor .navigation_text {
  background: #528d32;
}
.site-distributor .block-home.products .views-row .views-field-view-node a {
  background: #e62c2a;
}
.site-distributor .user-login #edit-submit {
  background-color: #e62c2a;
}
.sub-home h1 {
  color: #518c30;
  font-size: 43px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: normal;
}
.sub-home .l-content {
  text-align: center;
}
#block-superfish-1 {
  width: 100%;
  float: right;
}
.l-region--header {
  text-align: right;
}
.t-checkout {
  width: 100%;
}
.t-checkout tr {
  border-bottom: 1px solid #999;
}
.t-checkout tr.total {
  border-bottom: none;
}
.t-checkout th {
  background: transparent;
  color: #000;
}
.t-checkout .descript {
  color: #999;
}
.t-checkout .descript .producer {
  color: #528d32;
}
.t-checkout .grams input {
  width: 50px;
}
.t-checkout .sub-total,
.t-checkout .total {
  font-weight: bold;
  color: #000;
}
.t-checkout .check-remove {
  background: url("../images/icon_eliminar.png") no-repeat 0 0 transparent;
  width: 13px;
  height: 15px;
  display: inline-block;
  text-indent: -99999px;
}
.btn_checkout {
  background: url("../images/check_register.png") no-repeat 12px 50% #e62c2a;
  border: none;
  color: #fff;
  padding: 10px 20px 10px 43px;
  text-transform: uppercase;
  float: right;
  margin: 50px;
}
.text-green {
  color: #528d32;
  text-decoration: none;
}
.text-red {
  color: #e62c2a;
  text-decoration: none;
}
.user-login .form-text {
  padding: 10px;
  border: 1px solid #f29594;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 300px;
}
.user-login .form-item {
  display: inline-block;
  width: 100%;
}
.user-login .form-item label {
  font-weight: normal;
}
.user-login #edit-submit {
  background: url("../images/icon_login.png") no-repeat 15px center #528d32;
  padding: 5px 20px 5px 40px;
  border: none;
  color: #fff;
}
.user-login .description {
  display: none;
}
.user-login > div {
  width: 300px;
  margin: 0 auto;
}
.user_name {
  clear: both;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1.8em;
  vertical-align: top;
}
.user_name .label {
  color: #e62c2a;
}
.user_name .name {
  color: #528d32;
  padding: 0px 10px;
  display: inline-block;
}
.user-type.top span {
  display: inline-block;
  width: 230px;
  height: 35px;
  margin-top: 25px;
  color: #518c30;
  padding-left: 35px;
}
.user-type.top span.distributor {
  background: url("../images/ico-distribuidor.png") no-repeat left center transparent;
}
.user-type.top span.client {
  background: url("../images/ico-usuario.png") no-repeat left center transparent;
}
.user-type.top span a {
  color: #e62c2a;
}
.welcome-text {
  text-align: center;
  font-size: 18px;
}
.welcome-text a {
  padding: 10px;
  display: inline-block;
  background: #e62c2a;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
